:root {
  --accent-color: #7E6D53;
  --text-color: #2D2A22;
  --secondary-text-color: #FFFFFF;
  --bkg-color: #EDE9E3;
  --secondary-bkg-color: #FCFCFB;
}

.contacts__link {
  text-decoration: none;
  color: currentColor;
}

.contacts__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

body {
  font-family: Poppins, sans-serif;
  color: var(--accent-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 320px) {
  .container {
    width: 320px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    padding-left: 32px;
    padding-right: 32px;
    width: 768px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    padding-left: 68px;
    padding-right: 68px;
    width: 1280px;
  }
}

.contacts {
  padding-top: 0;
  padding-bottom: 60px;
  background-color: var(--bkg-color);
}
@media screen and (min-width: 768px) {
  .contacts {
    padding-top: 0;
    padding-bottom: 100px;
  }
}

.contacts__title {
  font-weight: 500;
  font-size: 28px;
  line-height: 1.5;
  margin-bottom: 8px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .contacts__title {
    font-weight: 500;
    font-size: 40px;
    line-height: 1.5;
  }
}

.contacts__subtitle {
  font-weight: 300;
  font-size: 20px;
  line-height: 1.5;
  margin-bottom: 26px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .contacts__subtitle {
    font-size: 24px;
    margin-bottom: 24px;
  }
}
@media screen and (min-width: 1280px) {
  .contacts__subtitle {
    margin-bottom: 20px;
  }
}

.contacts__block {
  width: 100%;
  padding: 24px 20px;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--accent-color);
  border-radius: 16px;
}
@media screen and (min-width: 768px) {
  .contacts__block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 53px 74px;
  }
}
@media screen and (min-width: 1280px) {
  .contacts__block {
    width: 700px;
  }
}

.contacts__icon {
  width: 24px;
  height: 24px;
  margin-right: 8px;
}

.contacts__text {
  color: var(--secondary-text-color);
  font-weight: 300;
  font-size: 14px;
  line-height: 1.5;
  opacity: 0.6;
}
@media screen and (min-width: 768px) {
  .contacts__text {
    font-size: 16px;
  }
}

.contacts__item:not(:last-child) {
  margin-bottom: 16px;
}
@media screen and (min-width: 768px) {
  .contacts__item:not(:last-child) {
    margin-bottom: 24px;
  }
}

.contacts__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contacts__btn {
  min-width: 240px;
  margin-top: 22px;
  padding: 12px 76px;
  background-color: var(--secondary-bkg-color);
  font-weight: 300;
  font-size: 16px;
  line-height: 1.5;
  color: var(--text-color);
  border-radius: 8px;
  border: none;
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .contacts__btn {
    min-width: 224px;
    height: 54px;
    margin-top: 0;
    padding: 9px 46px;
    font-size: 24px;
    color: var(--accent-color);
    margin-left: auto;
  }
}/*# sourceMappingURL=main.css.map */