:root {

    // Text colors
    --accent-color: #7E6D53;
    --text-color: #2D2A22;
    --secondary-text-color: #FFFFFF;
    // Background-colors
    --bkg-color: #EDE9E3;;
    --secondary-bkg-color: #FCFCFB;
}